.data
.debug
.debug/*
.DS_Store
.env*
.history
.netlify
.nuxt
.output
.vercel
.wrangler
*.log
*.pem
build-size-stats.html
db.sqlite
db.sqlite-*
data/couchdb_data
data/couchdb_logs
dist
node_modules
nuxt.d.ts
template
