@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --ngi-logo-font: 'JetBrains Mono ', monospace;
  --handwriting-font: 'Caveat', cursive;
  --ui-container: 90rem;
  
  /* NGI Logo configuration */
  --ngi-logo-height: 2.5em;
  --ngi-logo-color-primary: var(--color-primary);
  --ngi-logo-color-secondary: var(--color-gray-500);
  --ngi-logo-color-backlight: var(--color-gray-200);
  --ngi-logo-color-backdark: var(--color-red-500);
}